.font-weigth-bold-table
{
    font-size: 18px;
    font-weight: bold;
}
.col-margin
{
    width: 50%;
}
.table-header
{
    background-color: #7f8fa6;
    color: white;
}
.firstContest
{
    width: 30%;
}
.compareStyle
{
    width: 50%;
}
@media screen and (max-width: 750px)
{
    #formOrganization
    {
        margin-left: 12px;
    }
    #formCountry
    {
        margin-left: 12px;
    }
}
@media screen and (max-width: 590px)
{
    #formOrganization
    {
        margin-left: 105px;
    }
    #formCountry
    {
        margin-left: 105px;
    }
}
